@model NitelikliBilisim.Core.ViewModels.areas.admin.educator.UpdateGetVm
@using NitelikliBilisim.Core.Services.Abstracts
@inject IStorageService StorageService
@{
    ViewData["Title"] = "Eğitmen Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/vendor\select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/lib/file-uploader.css" rel="stylesheet" />
}
@section alerts{
    <partial name="partials/_Alert" />
}

<form id="form-update-educator">
    @Html.AntiForgeryToken()
    <div class="box_general padding_bottom">
        <div class="header_box version_2">
            <h2><i class="fa fa-file"></i>Eğitmen Güncelle</h2>
            <input type="hidden" value="@Model.Id" id="_educator-id" />
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="file-upload-container" id="file-upload-for-educator-photo">
                            @{
                                var filePath = "";
                                try
                                {
                                    filePath = StorageService.BlobUrl+Model.FilePath;
                                }
                                catch
                                {
                                }
                            }
                            <img class="img-after-preview" src="@filePath" id="img-after-preview-for-educator-photo" />
                            <p><i class="fa fa-file"></i> Profil fotoğrafı yüklemek için tıklayınız...</p>
                            <input type="file" />
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Unvan</label>
                                <input type="text" class="form-control" placeholder="Eğitmenin ünvanı" id="input-title" value="@Model.Title">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>İsim</label>
                                <input type="text" class="form-control" placeholder="Eğitmenin ismi (varsa orta ismi)" id="input-name" value="@Model.Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Soyisim</label>
                                <input type="text" class="form-control" placeholder="Eğitmenin soyismi" id="input-surname" value="@Model.Surname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telefon</label>
                                <input type="text" class="form-control" placeholder="Eğitmenin telefon numarası" id="input-phone" value="@Model.Phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>E-Posta</label>
                                <input type="email" class="form-control" placeholder="Eğitmenin e-posta adresi" id="input-email" value="@Model.Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Banka</label>
                                <select class="form-control" id="select-bank">
                                    @foreach (var bank in Model.BankNames)
                                    {
                                        if (bank.Key == Model.Bank)
                                        {
                                            <option selected value="@bank.Key">@bank.Value</option>
                                        }
                                        else
                                        {
                                            <option value="@bank.Key">@bank.Value</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>IBAN No</label>
                                <input type="text" class="form-control" required placeholder="IBAN Numarası" id="input-iban" value="@Model.IBAN" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Eğitmenin Sahip Olduğu Sertifikalar</label>
                                <select id="select-certificates" multiple="multiple" class="form-control">
                                    @foreach (var item in Model.Certificates)
                                    {
                                        if (Model.RelatedCertificates.Any(x => x.Id == item.Id))
                                        {
                                            <option selected data-image="@(StorageService.BlobUrl+item.CertificateImagePath)" value="@item.Id">@item.Name</option>

                                        }
                                        else
                                        {
                                            <option data-image="@(StorageService.BlobUrl+item.CertificateImagePath)" value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Eğitmenin Uzmanlık Alanları</label>
                                <select id="select-education-categories" multiple="multiple" class="form-control">
                                    @foreach (var item in Model.EducationCategories)
                                    {
                                        if (Model.RelatedCategories.Any(x => x.Id == item.Id))
                                        {
                                            <option selected value="@item.Id">@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Kısa Açıklama</label>
                                <textarea rows="4" class="form-control" maxlength="400" id="input-short-description">@Model.ShortDescription</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Biyografi</label>
                                <textarea rows="12" class="form-control" id="input-biography">@Model.Biography</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row-->

    </div>
    <!-- /box_general-->
</form>
<p><button id="btn-save" class="btn_1 medium">Kaydet</button></p>

@section postScripts{
    <script src="~/vendor\select2/dist/js/select2.min.js"></script>
    <script src="~/js/lib/file-uploader.js"></script>
    <script src="~/js/areas/admin/admin-educator-update.js"></script>
}