@model NitelikliBilisim.Core.ViewModels.areas.admin.suggestion.UpdateGetVm
@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/sup/alert-sup.css" rel="stylesheet" />
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> <strong>Öneri Kategori Aralıkları</strong>
    </div>
    <div class="card-body">
        <div class="row" style="margin-bottom:1%;">
            <div class="col-md-12">
                <form id="form-add-suggestion">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4">
                            <label>Kategori</label>
                            <select id="select-categories" class="form-control">
                                @foreach (var item in Model.Categories)
                                {
                                    if (Model.CategoryId == item.Id)
                                    {
                                        <option selected value="@item.Id">@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Önerilecek Eğitimler</label>
                            <select id="select-educations" multiple class="form-control">
                            </select>
                        </div>
                        <div class="col-md-2" style="display:none">
                            <label>Minimum</label>
                            <input type="number" value="@Model.MinRange" class="form-control" id="input-min" placeholder="Minimum" />
                        </div>
                        <div class="col-md-2">
                            <label>Maksimum Gün</label>
                            <input type="number" value="@Model.MaxRange" class="form-control" id="input-max" placeholder="Maksimum Gün" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1%;">
                        <div class="offset-md-10 col-md-2">
                            <button id="btn-add" type="button" class="btn_1 form-control" style="cursor:pointer;">Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">Veri tarihi: @DateTime.Now</div>
</div>

<p><button id="btn-save" class="btn_1 medium">Kaydet</button></p>
@section postScripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/js/sup/alert-sup.js"></script>
    <script src="~/js/lib/security-support.js"></script>
    <script src="~/js/areas/admin/admin-suggestion-update.js"></script>
}