@model NitelikliBilisim.App.Areas.Admin.Models.Education.AddGetVm
@{
    ViewData["Title"] = "Eğitim Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/vendor\select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/sup/alert-sup.css" rel="stylesheet" />
    <link href="~/css/lib/file-uploader.css" rel="stylesheet" />
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="box_general padding_bottom">
    <div class="header_box version_2">
        <h2><i class="fa fa-file"></i>Eğitim Ekleme</h2>
    </div>
    <form id="form-add-education">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Eğitim İsmi</label>
                    <input type="text" class="form-control" placeholder="Eğitim ismini giriniz..." id="input-name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Seviyeyi Seçiniz</label>
                    <select id="select-levels" class="form-control">
                        @foreach (var item in Model.Levels)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Kategori Seçiniz</label>
                    <select id="select-categories" class="form-control">
                        @foreach (var item in Model.Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Etiketlerini Seçiniz</label>
                    <select id="select-tags" multiple="multiple" class="form-control">
                        @foreach (var item in Model.Tags)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Eğitim Açıklaması</label>
                    <textarea id="input-description" rows="5" class="form-control" style="height:100px;resize:none;" placeholder="Eğitimin kullanıcı tarafından görülebilecek özet açıklaması..."></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Eğitim Açıklaması 2</label>
                    <textarea id="input-description2" rows="5" class="form-control" style="height:100px;resize:none;" placeholder="Eğitimin kullanıcı tarafından görülebilecek özet açıklaması..."></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Eğitim Süresi (Gün)</label>
                    <input type="number" class="form-control" placeholder="Eğitimin kaç gün süreceğini giriniz..." id="input-days">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Günde Kaç Saat</label>
                    <input type="number" class="form-control" placeholder="Derslerin günlük kaç saat işleneceğinizi giriniz..." id="input-hours-per-day">
                </div>
            </div>
        </div>
        
        <div class="row" style="border: 1px solid black;padding:0.5%;margin:0.5%;border-radius:5px;">
            <div class="col-md-12">
                <h6>Fiyat önerisi için doldurunuz</h6>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tahmini materyal ücreti (kişi başına)</label>
                            <input type="number" value="" class="form-control" id="input-guess-material-price" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Eğitmenlere saat başı ödenecek tahmini tutar</label>
                            <input type="number" value="" class="form-control" id="input-guess-educator-salary" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label style="color:#662d91;font-style:italic;">Önerilen satış fiyatı</label>
                            <p id="text-recommended-price">0₺</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Banner (jpeg)</label>
                    <div class="file-upload-container" id="file-upload-container-for-banner">
                        <img class="img-after-preview" id="img-after-preview-for-banner" />
                        <p><i class="fa fa-file"></i> Resim yüklemek için tıklayınız...</p>
                        <input type="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Ön İzleme (jpeg ya da mp4)</label>
                    <div class="file-upload-container" id="file-upload-container-for-preview">
                        <img class="img-after-preview" id="img-after-preview-for-preview" />
                        <p><i class="fa fa-file"></i> Resim yüklemek için tıklayınız...</p>
                        <input type="file" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<p><button id="btn-save" class="btn_1 medium">Kaydet</button></p>
@section postScripts{
    <script src="~/vendor\select2/dist/js/select2.min.js"></script>
    <script src="~/js/sup/alert-sup.js"></script>
    <script src="~/js/lib/security-support.js"></script>
    <script src="~/js/lib/file-uploader.js"></script>
    <script src="~/js/areas/admin/admin-education-add.js"></script>
}