@model NitelikliBilisim.App.Areas.Admin.Models.Education.AddGetVm
@{
    ViewData["Title"] = "Eğitim Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/vendor\select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/lib/file-uploader.css" rel="stylesheet" />
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="box_general padding_bottom">
    <div class="header_box version_2">
        <h2><i class="fa fa-file"></i>Eğitim Ekleme</h2>
    </div>
    <form id="form-add-education" autocomplete="off">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Eğitim İsmi</label>
                    <input type="text"  class="form-control" placeholder="Eğitim ismini giriniz..." id="input-name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Seviyeyi Seçiniz</label>
                    <select id="select-levels" class="form-control">
                        @foreach (var item in Model.Levels)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Kategori Seçiniz</label>
                    <select id="select-categories" class="form-control">
                        @foreach (var item in Model.Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Etiketlerini Seçiniz</label>
                    <select id="select-tags" multiple="multiple" class="form-control">
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Seo Url   <i title="- dışında özel karakter girmeyiniz.Tamamen küçük harf olacak şekilde Türkçe karakter kullanmadan oluşturunuz." class="fa fa-question-circle"></i></label>
                    <input type="text" placeholder="dot-net-core-mvc-egitimi" class="form-control" id="input-seo-url" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Eğitim Detay-Eğitim Kartı-Eğitim Listeleme Kısa Bilgi Alanları </label>
                    <textarea id="input-description" rows="5" class="form-control" style="height:100px;resize:none;" placeholder="Eğitim Detay-Eğitim Kartı-Eğitim Listeleme Kısa Bilgi Alanları"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Neler Öğreneceksiniz Açıklama</label>
                    <textarea id="input-description2" rows="5" class="form-control" style="height:100px;resize:none;" placeholder="Neler Öğreneceksiniz Açıklama alanı"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Eğitim Süresi (Gün)</label>
                    <input type="number" class="form-control" placeholder="Eğitimin kaç gün süreceğini giriniz..." id="input-days">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Günde Kaç Saat</label>
                    <input type="number" class="form-control" placeholder="Derslerin günlük kaç saat işleneceğinizi giriniz..." id="input-hours-per-day">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Eğitim Video Url</label>
                    <input type="text" class="form-control" placeholder="Youtube video Id" id="input-video-id" />
                </div>
            </div>
        </div>
       
    </form>
</div>

<p><button id="btn-save" class="btn_1 medium">Kaydet</button></p>
@section postScripts{
    <script src="~/vendor\select2/dist/js/select2.min.js"></script>
    <script src="~/js/lib/file-uploader.js"></script>
    <script src="~/js/areas/admin/admin-education-add.js"></script>
}