@model NitelikliBilisim.Core.ViewModels.areas.admin.education.ListGetVm
@{
    ViewData["Title"] = "Eğitim Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/assets/css/area-admin/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/css/sup/alert-sup.css" rel="stylesheet" />
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Eğitimler
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>İsmi</th>
                        <th>Etiketler</th>
                        <th>Gün / Saat</th>
                        <th>Seviye</th>
                        <th>Medyalar/Parçalar/Kazanımlar/Eğitmenler</th>
                        @*<th>Parçalar</th>
                            <th>Kazanımlar</th>
                            <th>Eğitmenler</th>*@
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>İsmi</th>
                        <th>Etiketler</th>
                        <th>Gün / Saat</th>
                        <th>Seviye</th>
                        <th>Medyalar/Parçalar/Kazanımlar/Eğitmenler</th>
                        @*<th>Parçalar</th>
                            <th>Kazanımlar</th>
                            <th>Eğitmenler</th>*@
                    </tr>
                    @*<tr>
                            <th colspan="8">
                                <ul class="pagination" id="pages-bottom"></ul>
                            </th>
                        </tr>*@
                </tfoot>
                <tbody id="tbody-egitimler">
                    @foreach (var item in Model.Educations)
                    {
                        <text>
                            @{
                            var educationMedias = Model.Medias.FirstOrDefault(x => x.EducationId == item.Id);
                            var mediaCount = educationMedias != null ? educationMedias.Count : 0;
                            var media = $"<a href=\"/admin/egitim-medya-yonetimi/{item.Id}\" class=\"btn btn-primary\"/><i class=\"fa fa-file-photo-o\"></i> {mediaCount}</a>";
                            var educationParts = Model.Parts.FirstOrDefault(x => x.EducationId == item.Id);
                            var partCount = educationParts != null ? educationParts.Count : 0;
                            var part = $"<a href=\"/admin/egitim-parca-yonetimi/{item.Id}\" class=\"btn btn-secondary\"/><i class=\"fa fa-list-ul\"></i> {partCount}</a>";
                            var educationGains = Model.Gains.FirstOrDefault(x => x.EducationId == item.Id);
                            var gainCount = educationGains != null ? educationGains.Count : 0;
                            var gain = $"<a href=\"/admin/egitim-kazanim-yonetimi/{item.Id}\" class=\"btn btn-info\"/><i class=\"fa fa-gift\"></i> {gainCount}</a>";
                            var educators = Model.Educators.FirstOrDefault(x => x.EducationId == item.Id);
                            var educatorCount = educators != null ? educators.Count : 0;
                            var educator = $"<a href=\"/admin/egitmen-ata/{item.Id}\" class=\"btn btn-success\"><i class=\"fa fa-users\"></i> {educatorCount}</a>";

                            var categories = Model.EducationCategories.FirstOrDefault(x => x.EducationId == item.Id);
                            var concattedCategories = categories != null ? categories.ConcattedCategories : null;

                            if (concattedCategories == null)
                            {
                                concattedCategories = "-";
                            }

                            var validEducation = item.IsActive ?
                                    $"<i class=\"fa fa-unlock text-success\" style=\"padding:25%;font-size:200%;text-align:center;vertical-align:middle;\"></i>"
                                    :
                                    $"<i class=\"fa fa-lock text-danger\" style=\"padding:25%;font-size:200%;text-align:center;vertical-align:middle;\"></i>";
                            }
                        </text>
                        <tr>
                            <td style="padding:0;"><a href="/admin/egitim-guncelle/@item.Id">@Html.Raw(validEducation)</a></td>
                            <td>@item.Name</td>
                            <td>@Html.Raw(concattedCategories)</td>
                            <td>@item.Days gün / @item.HoursPerDay saat</td>
                            <td>@item.Level.ToString()</td>
                            <td>
                                <div class="row">
                                    <div class="offset-md-2 col-md-8">
                                        <div class="btn-group">
                                            @Html.Raw(media)
                                            @Html.Raw(part)
                                            @Html.Raw(gain)
                                            @Html.Raw(educator)
                                        </div>
                                    </div>
                                </div>
                            </td>
                            @*<td>@Html.Raw(media)</td>
                                <td>@Html.Raw(part)</td>
                                <td>@Html.Raw(gain)</td>
                                <td>@Html.Raw(educator)</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Veri tarihi: @DateTime.Now</div>
</div>
@section postScripts{
    <script src="~/assets/js/area-admin/jquery.dataTables.js"></script>
    <script src="~/assets/js/area-admin/dataTables.bootstrap4.js"></script>
    <script src="~/js/sup/alert-sup.js"></script>
    <script>
        /* fields */
        var confirmModalBuilder = new AlertSupport.ConfirmModalBuilder();

        /* assignments */
        $(document).ready(document_onLoad);

        /* events */
        function document_onLoad() {

        }
    </script>
}