@model NitelikliBilisim.App.Models.HomeIndexModel
@{
    ViewData["Title"] = "Nitelikli Bilişim";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<main class="o-x-hidden">
    <section class="section is-hero">
        <div class="is-hero__img">
            <img class="v-desktop" src="~/assets/img/banner-atf.png" alt="">
            <img class="v-tablet-s" src="~/assets/img/banner-atf_mobile.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="is-hero__heading">
                        Hangi konuda <br /> <span class="is-hero__heading--colored">
                            proje eksiğin
                            var?
                        </span>
                    </h2>
                    <p class="is-hero__desc">
                        Teorik Eğitimini Proje Yazarak Pekiştir, Sertifikanı Al, <br /> Aranan BT Uzmanı Ol !
                    </p>

                    <form action="arama-sonuclari" class="is-hero__form">
                        <div id="firstSearch" class="dropdown js-dropdown">
                            <span class="icon-outer is-hero__dropdown-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-mouse-window"></use>
                                </svg>
                            </span>

                            <div class="dropdown__title-wrap">
                                <span class="dropdown__subtitle">Eğitim Arayın</span>
                                <input name="s" type="search" class="dropdown__title js-title" autocomplete="off" value="" />
                            </div>

                            <div class="dropdown__content">
                                <nav>
                                    @foreach (var item in Model.EducationSearchTags)
                                    {
                                        <a data-filter-item data-filter-name="@item.Tags">@item.EducationName</a>
                                    }
                                </nav>
                            </div>
                        </div>

                        <div class="select-index-dropdown">
                            <select name="h" class="js-index-location-select">
                                <option value="" selected hidden disabled>Konum Seçin</option>
                                @foreach (var city in Model.HostCities)
                                {
                                    <option value="@city.Key">@city.Value</option>
                                }
                            </select>
                        </div>

                        <button type="submit" class="button">
                            <span class="icon-outer button-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-search"></use>
                                </svg>
                            </span>
                            <span>Eğitim Bul</span>
                        </button>
                    </form>

                    <div class="is-hero__bottom">
                        <h3 class="is-hero__subheading">
                            Bilişim Kariyerine <br /> <span class="is-hero__subheading--colored">Nitelik Kazandır</span>
                        </h3>
                        <span class="is-hero__arrow">
                            <svg class="icon">
                                <use xlink:href="../../assets/img/icons.svg#icon-big-arrow"></use>
                            </svg>
                        </span>

                        <div class="is-hero__details">

                            <div>
                                <figure>
                                    <img src="~/assets/img/icons/icon-statistic-up.svg" />
                                </figure>

                                <span>
                                    Sektör Liderlerinden <br />
                                    <span class="colored">Proje Eğitimi Al</span>
                                </span>
                            </div>

                            <div>
                                <figure>
                                    <img src="~/assets/img/icons/icon-ranking-up.svg" />
                                </figure>

                                <span>
                                    Uygulama <br />
                                    <span class="colored">Tecrübesi Kazan</span>
                                </span>
                            </div>

                            <div>
                                <figure>
                                    <img src="~/assets/img/icons/icon-certificate.svg" />
                                </figure>

                                <span>
                                    Üniversite <br />
                                    <span class="colored">Sertifikanı Al</span>
                                </span>
                            </div>

                            <div>
                                <figure>
                                    <img src="~/assets/img/icons/icon-speaker-human.svg" />
                                </figure>

                                <span>
                                    Aranan BT <br />
                                    <span class="colored">Uzmanı Ol</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-popular-technology">
        <img src="~/assets/img/half-shape.svg" class="popular-technology--shape left-top" alt="">
        <img src="~/assets/img/dots-shape.svg" class="popular-technology--shape right-bottom" alt="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="title title-section text-center">
                        Popüler <span class="title--blue">Teknoloji Kategorileri</span>
                    </h2>

                    <div class="swiper-container popular-technology">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            @foreach (var category in Model.NBUYEducationCategories)
                            {
                                <div class="swiper-slide">
                                    <div class="popular-technology__item">
                                        <div class="popular-technology__icon" style="background:@category.IconColor;">
                                            <span class="icon-outer">
                                                <svg class="icon">
                                                    <use xlink:href="../../assets/img/icons.svg#@category.IconUrl"></use>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="popular-technology__txt">
                                            @category.Name
                                        </div>
                                        <div class="popular-technology__bottom">
                                            <a asp-controller="Course" asp-action="List" asp-route-catSeoUrl="@category.SeoUrl">
                                                <div>
                                                        @category.EducationCount Eğitim
                                                </div>
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-small-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="swiper-pagination"></div>

                        <div class="swiper-button-prev swiper-button-circle reverse">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="swiper-button-next swiper-button-circle reverse">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-popular-projects with-border">
        <div class="container">
            <div class="flex-center mb-4">
                <h2 class="title title-section">Popüler <span class="title--blue">Proje Eğitimleri</span></h2>

                <a asp-controller="Course" asp-action="List" class="all-link">
                    <span>Tüm Eğitimler</span>
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-container js-card-slider mt-1">
                <div class="swiper-wrapper">
                    @await Component.InvokeAsync("PopularEducations")
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev swiper-button-circle reverse">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </div>
                <div class="swiper-button-next swiper-button-circle reverse">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-banner-wrap">
        <div class="container">
            <div class="is-banner">
                <div class="is-banner__icon">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-user-dart"></use>
                        </svg>
                    </span>
                </div>

                <div>
                    <h6 class="is-banner__title">
                        Size en uygun proje eğitimlerini <br> <span class="is-banner__title--colored">Birlikte bulalım!</span>
                    </h6>
                    <a href="#0" class="js-modal-trigger" data-trigger="egitimSihirbazi">
                        Şimdi Başlayın
                        <span class="icon-outer">
                            <svg class="icon">
                                <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="is-banner__img">
                    <img src="~/assets/img/dusunenadam.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="section is-popular-projects">
        <div class="container">
            <div class="flex-center mb-4">
                <h2 class="title title-section">Yeni Başlayanlar İçin <span class="title--blue">Proje Eğitimleri</span></h2>

                <a asp-controller="Course" asp-action="List" class="all-link">
                    <span>Tüm Eğitimler</span>
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </a>
            </div>
            <div class="swiper-container js-card-slider mt-1">
                <div class="swiper-wrapper">
                    @await Component.InvokeAsync("BeginnerEducations")

                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev swiper-button-circle reverse">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </div>
                <div class="swiper-button-next swiper-button-circle reverse">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-comments">
        <div class="container">
            <div class="col-12">
                <div class="flex-center mb-1">
                    <h2 class="title title-section">Kursiyer <span class="title--blue">Yorumları</span></h2>

                    @*<a asp-controller="Home" asp-action="UserComments" class="all-link">
                        <span>Tüm Yorumlar</span>
                        <span class="icon-outer">
                            <svg class="icon">
                                <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                            </svg>
                        </span>
                    </a>*@
                </div>
            </div>
            <div class="swiper-container js-swiper-home-comments">
                <div class="swiper-wrapper">
                    @foreach (var comment in Model.EducationComments)
                    {
                        <div class="swiper-slide">
                            <div class="is-comments-item">
                                <figure>
                                    <img src="@comment.CommenterAvatarPath" alt="" height="80" />
                                </figure>

                                <div class="main-stars">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <span class="icon-outer icon-star @(i<=comment.Point?"active":"")">
                                            <svg class="icon">
                                                <use xlink:href="../../assets/img/icons.svg#icon-star"></use>
                                            </svg>
                                        </span>
                                    }
                                </div>

                                <p class="is-comments__desc" style="min-height:80px;">
                                    @comment.Content
                                </p>
                                <span class="is-comments__name">@comment.CommenterName</span>
                                <span class="is-comments__job">@comment.CommenterJob</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev swiper-button-circle reverse">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </div>
                <div class="swiper-button-next swiper-button-circle reverse">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>

    </section>
</main>