@model NitelikliBilisim.App.Models.HomeIndexModel
@using NitelikliBilisim.Core.Services.Abstracts
@inject IStorageService StorageService
@{
    ViewData["Title"] = "Nitelikli Bilişim";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/assets/css/search/search-results.css" rel="stylesheet" />
}
<main>
    <section class="hero_single version_2">
        <div class="wrapper">
            <div class="container">
                <div class="row containerRow col-sm-12">
                    <h3><span style="font-weight: 100 !important">HANGİ KONUDA</span> <b style="color:#fc4912">PROJE EKSİĞİN VAR?</b></h3>
                    <p>Uygulama olmadan, teorik bilgi ne işe yarar ki!</p><br />
                    <div class="main_title_Search">
                        <span><em></em></span>
                    </div>
                    <p>Aldığın teorik eğitimi proje yazarak pekiştir, sertifikanı al, aranan BT uzmanı ol.</p>
                    <form>
                        <div id="custom-search-input">
                            <div class="input-group rounded">
                                <input type="text" style="margin: 0 -35px !important; padding-right:130px; border: 2px solid #2d2f33;" class="search-query" placeholder="Örnek: Windows Form Uygulamaları..." id="input-index-search">
                                <input type="submit" style="        border-radius: 33px !important
" class="btn_search rounded" value="Eğitim Bul" id="btn-index-search">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /hero_single -->

    <div class="features clearfix">
        <div class="container">
            <ul>
                <li>
                    <i class="pe-7s-study"></i>
                    <h4>+100 Proje Eğitimi</h4><span>Teoride kalma, uygulama yap</span>
                </li>
                <li>
                    <i class="pe-7s-cup"></i>
                    <h4>Uzman Eğiticiler</h4><span>Sektör liderleri ile proje yaz</span>
                </li>
                <li>
                    <i class="pe-7s-target"></i>
                    <h4>İstihdam</h4><span>Uygulama becerini yükselt, hedefine ulaş</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- /features -->

    <div class="container-fluid margin_120_0">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Nitelikli Bilişim Popüler Eğitimler</h2>
            <p>NBUY eğitimi alan öğrenciler tarafından en çok <br />tercih edilen proje eğitimleri</p>
        </div>
        <div id="reccomended" class="owl-carousel owl-theme">
            @foreach (var item in Model.SuggestedEducations)
            {
                <div class="item">
                    <div class="box_grid">
                        <figure>
                            <a href="#0" class="wish_bt"></a>
                            <a href="/kurs-detayi/@item.Base.Id">
                                <div class="preview"><span>Detaylar</span></div>
                                @{
                                    var filePath = "";
                                    try
                                    {
                                        filePath = await StorageService.DownloadFile(System.IO.Path.GetFileName(item.Medias[0].FileUrl), "media-items");
                                    }
                                    catch
                                    {

                                    }
                                }
                                <img src="@filePath" class="img-fluid" />
                            </a>
                            <div class="price">@item.Base.PriceText</div>

                        </figure>
                        <div class="wrapper">
                            <small>@item.Base.CategoryName</small>
                            <h3>@item.Base.Name</h3>
                            <a href="/kurs-detayi/@item.Base.Id">
                                <div class="desc-div"></div>
                            </a>
                            <p class="desc-p">@item.Base.Description</p>
                        </div>
                        @*<hr />
                        <ul>
                            <li><div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div></li>
                            <li><i class="icon_like"></i> 890</li>
                        </ul>*@
                        <ul>
                            <li><i class="icon_clock_alt"></i> @item.Base.DaysText gün (@(item.Base.HoursPerDayNumeric * item.Base.DaysNumeric) saat)</li>
                            <li><a role="button" data-education-id="@item.Base.Id" class="btn-buy" style="cursor:pointer;">Kayıt Ol</a></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
        <!-- /carousel -->
        <div class="container">
            <p class="btn_home_align"><a href="/tum-egitimler" class="btn_1 rounded">Tüm proje eğitimleri</a></p>
        </div>
        <!-- /container -->
        <hr>
    </div>
    <!-- /container -->

    <div class="container margin_30_95">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Proje Eğitim Kategorileri</h2>
            <p>Size en uygun proje eğitimi için bir kategori seçin</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="/tum-egitimler/web-ve-mobil-programlama" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        @*<img src="img/categories/course_1.jpg" class="img-fluid" alt="">*@
                        <img src="~/assets/img/course_1.jpg" class="img-fluid" />
                        <div class="info">
                            <small><i class="ti-layers"></i>15 Eğitim</small>
                            <h3>Web ve Mobil Programlama</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="/tum-egitimler/sistem-ve-ag-yonetimi" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        @*<img src="img/categories/course_1.jpg" class="img-fluid" alt="">*@
                        <img src="~/assets/img/course_1.jpg" class="img-fluid" />
                        <div class="info">
                            <small><i class="ti-layers"></i>23 Eğitim</small>
                            <h3>Sistem ve Ağ Yönetimi</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="/tum-egitimler/siber-guvenlik" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        @*<img src="img/categories/course_1.jpg" class="img-fluid" alt="">*@
                        <img src="~/assets/img/course_1.jpg" class="img-fluid" />
                        <div class="info">
                            <small><i class="ti-layers"></i>23 Eğitim</small>
                            <h3>Siber Güvenlik</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="/tum-egitimler/bulut-bilisim" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        @*<img src="img/categories/course_1.jpg" class="img-fluid" alt="">*@
                        <img src="~/assets/img/course_1.jpg" class="img-fluid" />
                        <div class="info">
                            <small><i class="ti-layers"></i>23 Eğitim</small>
                            <h3>Bulut Bilişim</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="/tum-egitimler/oyun-programlama" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        @*<img src="img/categories/course_1.jpg" class="img-fluid" alt="">*@
                        <img src="~/assets/img/course_1.jpg" class="img-fluid" />
                        <div class="info">
                            <small><i class="ti-layers"></i>23 Eğitim</small>
                            <h3>Oyun Programlama</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="/tum-egitimler/kurumsal-kaynak-planlama" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        @*<img src="img/categories/course_1.jpg" class="img-fluid" alt="">*@
                        <img src="~/assets/img/course_1.jpg" class="img-fluid" />
                        <div class="info">
                            <small><i class="ti-layers"></i>23 Eğitim</small>
                            <h3>Kurumsal Kaynak Planlama</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
        </div>
        <!-- /row -->
    </div>

    <!-- /container -->

    <div class="bg_color_1">
        <!--<div class="container margin_120_95">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>News and Events</h2>
                <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a class="box_news" href="#0">
                        <figure>
                            <img src="http://via.placeholder.com/500x333/ccc/fff/news_home_1.jpg" alt="">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Mark Twain</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Pri oportere scribentur eu</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
                    </a>
                </div>
                 /box_news
                <div class="col-lg-6">
                    <a class="box_news" href="#0">
                        <figure>
                            <img src="http://via.placeholder.com/500x333/ccc/fff/news_home_2.jpg" alt="">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Jhon Doe</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Duo eius postea suscipit ad</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
                    </a>
                </div>
                 /box_news
                <div class="col-lg-6">
                    <a class="box_news" href="#0">
                        <figure>
                            <img src="http://via.placeholder.com/500x333/ccc/fff/news_home_3.jpg" alt="">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Luca Robinson</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Elitr mandamus cu has</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
                    </a>
                </div>
                 /box_news
                <div class="col-lg-6">
                    <a class="box_news" href="#0">
                        <figure>
                            <img src="http://via.placeholder.com/500x333/ccc/fff/news_home_4.jpg" alt="">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Paula Rodrigez</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Id est adhuc ignota delenit</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
                    </a>
                </div>
                 /box_news
            </div>
             /row
            <p class="btn_home_align"><a href="blog.html" class="btn_1 rounded">View all news</a></p>
        </div>-->
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->

    <div class="call_section">
        <div class="container clearfix">
            <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
                <div class="block-reveal">
                    <div class="block-vertical"></div>
                    <div class="box_1">
                        <h3>Tüm proje eğitimlerinde %30 indirim fırsatını kaçırma</h3>
                        <p>Proje eğitimlerini 3 arkadaşınıza önererek, %30 indirim hakkı kazanabilirsiniz. </p>
                        <a href="#0" class="btn_1 rounded">Detay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/call_section-->
</main>

@section postScripts{
    <script src="~/js/sup/cart.js"></script>
    <script>
        var btnIndexSearch = $("#btn-index-search");
        var inputIndexSearch = $("#input-index-search");

        $(document).ready(() => {
            var btnBuys = document.getElementsByClassName("btn-buy");
            for (var i = 0; i < btnBuys.length; i++) {
                btnBuys[i].onclick = btnBuy_onClick;
            }
        });

        btnIndexSearch.on("click", (e) => {
            e.preventDefault();
            var tagFormatter = new AppWide.TagFormatter();
            var searchText = tagFormatter.formatForTag(inputIndexSearch.val());

            if (!searchText || searchText === "")
                return;

            location.href = `/arama-sonuclari/${searchText}`;
        });

        function btnBuy_onClick() {
            var educationId = this.getAttribute("data-education-id");
            var cart = new CartSupport.Cart();
            cart.addToCart(educationId);

            location.href = "/sepet";
        }
    </script>
}