@using NitelikliBilisim.Core.Entities
@{
    ViewData["Title"] = "Privacy Policy";
}



<h3>SessionId ile incelenmiş eğitimler</h3>
<ul>
    @foreach (var education in ((List<Education>)ViewData["sessionIdEducations"]))
    {
        <li><b>@education.Name</b></li>

    }
</ul>
<br />
<hr />
<br />
<h3>UserId ile incelenmiş eğitimler</h3>
<ul>
    @foreach (var education in ((List<Education>)ViewData["userIdEducations"]))
    {
        <li><b>@education.Name</b></li>

    }
</ul>
<br />
<hr />
<br />

<h3>Kullanıcının yaptığı aramalar</h3>
<ul>
    @foreach (var text in ((List<string>)ViewData["searchedTexts"]))
    {
        <li><b>@text</b></li>
    }
</ul>
<br />
<hr />
<br />
<h3>Eğitim Adı ve incelenme sayısı</h3>
<ul>
    @if (ViewData["viewingCount"] != null)
    {
        @foreach (var item in ((Dictionary<Education, int>)ViewData["viewingCount"]))
        {
            <li><b>@item.Key.Name</b> : @item.Value</li>
        }
    }
</ul>