@model NitelikliBilisim.Core.ViewModels.areas.admin.education_parts.ManageVm
@{
    ViewData["Title"] = "Eğitim Parça Yönetimi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/assets/css/area-admin/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/css/sup/alert-sup.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> <strong>@Model.EducationName</strong> Eğitiminin Parçaları
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form id="form-add-education-parts">
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@Model.EducationId" id="_education-id" />
                    <div class="row">
                        <div class="col-md-3">
                            <label>Üst Başlık</label>
                            <select id="select-base-parts" class="form-control">
                                <option value="">Üst Başlık</option>
                                @foreach (var item in Model.BaseParts)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Parçanın sırası</label>
                            <input type="text" value="" class="form-control" id="input-order" placeholder="Parçanın sırası" />
                        </div>
                        <div class="col-md-3">
                            <label>Parça Başlığı</label>
                            <input type="text" value="" class="form-control" id="input-title" placeholder="Parça başlığı" />
                        </div>
                        <div class="col-md-3">
                            <label>Süre (dk.)</label>
                            <input type="text" value="" class="form-control" id="input-duration" placeholder="Süre (dakika)" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:1%;margin-bottom:1%">
                        <div class="offset-md-11 col-md-1">
                            <button id="btn-add" type="button" class="btn_1 form-control" style="cursor:pointer;"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sıra</th>
                                <th>Başlık</th>
                                <th>Süre</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Sıra</th>
                                <th>Başlık</th>
                                <th>Süre</th>
                                <th>İşlem</th>
                            </tr>
                        </tfoot>
                        <tbody id="tbody-education-parts">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">Veri tarihi: @DateTime.Now</div>
</div>
@section postScripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/assets/js/area-admin/jquery.dataTables.js"></script>
    <script src="~/assets/js/area-admin/dataTables.bootstrap4.js"></script>
    <script src="~/js/sup/alert-sup.js"></script>
    <script src="~/js/lib/security-support.js"></script>
    <script src="~/js/areas/admin/admin-education-part-manage.js"></script>
}
