@model NitelikliBilisim.Core.ViewModels.areas.admin.education_parts.UpdateGetVm
@{
    ViewData["Title"] = "Ders Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/vendor\summernote/dist/summernote-bs4.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="box_general padding_bottom">
    <div class="header_box version_2">
        <h2><i class="fa fa-file"></i>Ders Güncelle</h2>
        <input type="hidden" value="@Model.Id" id="_part-id" />
        <input type="hidden" value="@Model.BasePartId" id="_basepart-id" />
    </div>
    <div class="col-md-12">
        <form id="form-add-education-parts">
            @Html.AntiForgeryToken()
            <input type="hidden" value="@Model.EducationId" id="_education-id" />
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Üst Başlık</label>
                                <select id="select-base-parts" class="form-control">
                                    <option value="">Üst Başlık</option>
                                    @foreach (var item in Model.BaseParts)
                                    {
                                        <option value="@item.Id">@item.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Sırası</label>
                                <input type="text" value="@Model.Order" class="form-control" id="input-order" placeholder="Parçanın sırası" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <label>Başlık</label>
                    <div id="summernote"></div>
                </div>
            </div>
            <div class="row" style="margin-top:1%;margin-bottom:1%">
                <div class="col-md-12">
                    <button id="btn-add" type="button" class="btn btn-outline-success pull-right" style="cursor:pointer;"><i class="fa fa-save"></i> Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section postScripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/vendor\summernote/dist/summernote-bs4.js"></script>
    <script src="~/vendor\summernote/dist/lang/summernote-tr-TR.min.js"></script>
    <script>
        /*Summernote Editor*/
        $(document).ready(function () {

            $('#summernote').summernote({
                lang: 'tr-TR',
                placeholder: 'İçerik giriniz...',
                tabsize: 2,
                height: 450,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ],
                fontNames: ['Proxima Nova'],
                callbacks: {
                    onPaste: function (e) {
                        var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                        e.preventDefault();
                        document.execCommand('insertText', false, bufferText);
                    }
                },
                styleTags: [
                    { title: 'Baslik', tag: 'h2', className: 'blog-detail__title', value: 'h2' },
                    { title: 'Özet', tag: 'h1', className: 'blog-detail__blockquote', value: 'h1' },
                    { title: 'Paragraf', tag: 'p', className: 'blog-detail__txt', value: 'p' },
                    { title: 'Reklam', tag: 'div', className: '', value: 'div' }
                ]
            });

            $('#summernote').summernote('code', `@Html.Raw(Model.Title)`);
        });
    </script>
    <script src="~/js/areas/admin/admin-education-part-update.js"></script>
}