<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin NitelikliBilisim - @ViewData["Title"]</title>

    <partial name="partials/_BaseAssetsHeader" />

    @RenderSection("styles", false)
    @RenderSection("preScripts", false)
</head>

<body class="fixed-nav sticky-footer" id="page-top">

    <partial name="partials/_LayoutTopNav" />

    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <partial name="partials/_LayoutFooter" />
    <partial name="partials/_LayoutModals" />

    <partial name="partials/_BaseAssetsBody" />

    @RenderSection("postScripts", false)
</body>

</html>
