<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin NitelikliBilisim - @ViewData["Title"]</title>
    <link href="~/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/vendor/devextreme/dist/css/dx.dark.css" rel="stylesheet" />

    <link href="~/css/admin.css" rel="stylesheet" />
    <script src="~/vendor/jquery/dist/jquery.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/vendor/devextreme/dist/js/dx.all.js"></script>
    <script src="~/vendor/devextreme/dist/js/dx.all.js"></script>
    
    @RenderSection("Headers", required: false)
</head>
<body>
    <div class="container-fluid">
        @Html.Partial("_NavBar")
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/admin.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
