@model NitelikliBilisim.Core.ViewModels.areas.admin.education_promotion.EducationPromotionUpdateGetVm
@{
    ViewData["Title"] = "Promosyon Oluştur";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section alerts{
    <partial name="partials/_Alert" />
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> Promosyon Düzenle
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form id="form-update-promotion">
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@Model.Id" id="_promotionId" />
                     <div class="row" style="margin-bottom: 1%;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Promosyon Adı</label>
                                <input class="form-control" type="text" value="@Model.Name" id="input-name" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Promosyon Kodu</label>
                                <input class="form-control" type="text" maxlength="7" value="@Model.PromotionCode" id="input-code" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Promosyon Tutarı</label>
                                <input class="form-control" type="number" value="@Model.DiscountAmount" id="input-discount-amount" />
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 1%;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Başlangıç Tarihi</label>
                                <input class="form-control" type="date" value="@Model.StartDate.ToString(string.Format("yyyy-MM-dd"))" id="input-start-date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Bitiş Tarihi</label>
                                <input class="form-control" type="date" value="@Model.EndDate.ToString(string.Format("yyyy-MM-dd"))" id="input-end-date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Maksimum Kullanım Adedi</label>
                                <input type="number" class="form-control" value="@Model.MaxUsageLimit" id="input-max-usage-limit" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:1%;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Kullanıcı Başına Kullanım Adedi</label>
                                <input class="form-control" type="number" value="@Model.UserBasedUsageLimit" id="input-user-based-usage-limit" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Minimum Sepet Tutarı</label>
                                <input class="form-control" type="number" value="@Model.MinBasketAmount" id="input-min-basket-amount" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Açıklama</label>
                                <textarea class="form-control" rows="2" id="input-description">@Model.Description</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="offset-md-10 col-md-2">
                            <button id="btn-save" type="button" class="btn btn-outline-success pull-right">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section postScripts{
    <script src="~/js/sup/datetime-support.js"></script>
    <script>
        /* fields */

        /* elements */
        var inputStartDate = $("#input-start-date");
        var inputEndDate = $("#input-end-date");
        var inputDiscountAmount = $("#input-discount-amount");
        var inputMaxUsageLimit = $("#input-max-usage-limit");
        var inputUserBasedUsageLimit = $("#input-user-based-usage-limit");
        var inputMinBasketAmount = $("#input-min-basket-amount");
        var inputName = $("#input-name");
        var inputDescription = $('#input-description');
        var inputCode = $("#input-code");
        var promotionId = $("#_promotionId");


        var btnSave = $("#btn-save");

        /* assignments */
        $(document).ready(document_onLoad);
        btnSave.on("click", btnSave_onClick);

        /* events */
        function document_onLoad() {
        }

        function btnSave_onClick() {
            btnSave.off("click");
            var tokenVerifier = new SecuritySupport.TokenVerifier();
            var data = tokenVerifier.addToken("form-update-promotion", {
                Id: promotionId.val(),
                Name: inputName.val(),
                StartDate: inputStartDate.val(),
                EndDate: inputEndDate.val(),
                PromotionCode: inputCode.val(),
                Description: inputDescription.val(),
                MaxUsageLimit: inputMaxUsageLimit.val(),
                UserBasedUsageLimit: inputUserBasedUsageLimit.val(),
                DiscountAmount: inputDiscountAmount.val(),
                MinBasketAmount: inputMinBasketAmount.val()
            });
            var resultAlert = new AlertSupport.ResultAlert();
            $.ajax({
                url: "/admin/promosyon-guncelle",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.isSuccess) {
                        resultAlert.display({
                            success: true,
                            message: "Güncelleme işlemi başarılı! Listeye gitmek için {link}",
                            redirectElement: {
                                content: "tıklayınız",
                                link: "/admin/promosyonlar"
                            }
                        });
                    } else {
                        resultAlert.display({
                            success: false,
                            errors: res.errors,
                            message: "İşlem başarısız"
                        });
                    }
                },
                complete: () => { btnSave.on("click", btnSave_onClick); }
            });
        }

        /* functions */

    </script>
}
