@model NitelikliBilisim.Core.ViewModels.areas.admin.education_groups.AddGetVm
@using NitelikliBilisim.Support.Enums
@{
    ViewData["Title"] = "Grup Aç";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/sup/alert-sup.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .form-check-label {
            cursor: pointer;
        }
    </style>
}
@section alerts{
    <partial name="partials/_Alert" />
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> <strong></strong> Grup Oluştur
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form id="form-add-group">
                    @Html.AntiForgeryToken()
                    <div class="row" style="margin-bottom: 1%;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Grup Adı</label>
                                <input class="form-control" type="text" value="" id="input-name" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Eğitimler</label>
                                <select class="form-control" id="select-educations">
                                    <option value="">Eğitim seçiniz...</option>
                                    @foreach (var item in Model.Educations)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Yer</label>
                                <select class="form-control" id="select-hosts">
                                    <option value="">Kursun yapılacağı yeri seçiniz...</option>
                                    @foreach (var item in Model.Hosts)
                                    {
                                        <option value="@item.Id">@item.HostName (@EnumSupport.GetDescription(item.City))</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 1%;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Eğitmenler</label>
                                <select class="form-control" id="select-educators" disabled>
                                    <option value="">Eğitmen seçiniz...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label title="Saatlik eğitmen ücreti">Eğitmen Ücreti</label>
                                <input type="number" class="form-control" id="input-educator-price" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Kontenjan</label>
                                <input type="text" class="form-control" value="15" id="input-quota" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:1%;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Açılış Zamanı</label>
                                <input class="form-control" type="date" value="" id="input-start-date" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sınıflar</label>
                                <select class="form-control" id="select-class-room" disabled>
                                    <option value="">Sınıf seçiniz...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Ders günleri seçimi -->
                    <div class="row" style="margin-bottom: 1%;">
                        <div class="col-md-12">
                            <span class="btn btn-light" role="button" style="cursor:default;">Ders işlenecek günler:</span>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="1">Pazartesi
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="2">Salı
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="3">Çarşamba
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="4">Perşembe
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="5">Cuma
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="6">Cumartesi
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="0">Pazar
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /Ders günleri seçimi -->

                    <div class="row">
                        <div class="offset-md-10 col-md-2">
                            <button id="btn-save" type="button" class="btn_1 form-control">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i><strong>Grup</strong> Giderleri
    </div>
    <div class="card-body">

    </div>
</div>

@section postScripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/js/sup/alert-sup.js"></script>
    <script src="~/js/lib/security-support.js"></script>
    <script src="~/js/sup/datetime-support.js"></script>
    <script src="~/js/sup/alert-sup.js"></script>
    <script>
        /* fields */
        var lessonDays = [];

        /* elements */
        var selectEducations = document.getElementById("select-educations");
        var selectEducators = document.getElementById("select-educators");
        var selectClassRoom = document.getElementById("select-class-room");
        var selectHosts = document.getElementById("select-hosts");
        var dayCheckboxes = document.getElementsByClassName("form-check-input");
        var inputStartDate = $("#input-start-date");
        var inputName = $("#input-name");
        var inputEducatorPrice = $('#input-educator-price');
        var inputQuota = $("#input-quota");
        var btnSave = $("#btn-save");

        /* assignments */
        $(document).ready(document_onLoad);
        selectEducations.onchange = selectEducations_onChange;
        selectHosts.onchange = selectHost_onChange;
        btnSave.on("click", btnSave_onClick);

        /* events */
        function document_onLoad() {
            $(selectEducations).select2();
            $(selectEducators).select2();
            $(selectClassRoom).select2();
            $(selectHosts).select2();

            var dateManager = new DateTimeSupport.Manager();
            inputStartDate.val(dateManager.getToday());

            for (var i = 0; i < dayCheckboxes.length; i++) {
                var item = dayCheckboxes[i];
                item.onchange = dayCheckbox_onChange;
            }
        }
        function selectEducations_onChange() {

            var educationId = selectEducations.options[selectEducations.selectedIndex].value;
            $.ajax({
                url: `/admin/get-assigned-educators-for-group-add/${educationId}`,
                method: "get",
                success: (res) => {
                    if (res.isSuccess) {
                        getEducators(res.data);
                        $(selectEducators).prop("disabled", false);
                        if (!res.data.length)
                            $(selectEducators).prop("disabled", true);
                    } else {
                        var jquerySelectEducators = $(selectEducators);
                        jquerySelectEducators.html(`<option value="">Eğitmen seçiniz...</option>`);
                        $(selectEducators).prop("disabled", true);
                    }
                }
            });
        }
        function selectHost_onChange() {
            var hostId = selectHosts.options[selectHosts.selectedIndex].value;
            $.ajax({
                url: `/admin/get-class-rooms-by-host-id/${hostId}`,
                method: "get",
                success: (res) => {
                    if (res.isSuccess) {
                        getClassRooms(res.data);
                        $(selectClassRoom).prop("disabled", false);
                        if (!res.data.length)
                            $(selectClassRoom).prop("disabled", true);
                    } else {
                        var jqueryselectClassRoom = $(selectClassRoom);
                        jqueryselectClassRoom.html(`<option value="">Sınıf seçiniz...</option>`);
                        $(selectClassRoom).prop("disabled", true);
                    }
                }
            });

        }
        function dayCheckbox_onChange() {
            lessonDays = [];

            for (var i = 0; i < dayCheckboxes.length; i++) {
                var item = dayCheckboxes[i];
                if (item.checked)
                    lessonDays.push(parseInt(item.value));
            }
        }
        function btnSave_onClick() {
            btnSave.off("click");

            var tokenVerifier = new SecuritySupport.TokenVerifier();
            var data = tokenVerifier.addToken("form-add-group", {
                Name: inputName.val(),
                StartDate: inputStartDate.val(),
                EducationId: selectEducations.options[selectEducations.selectedIndex].value,
                EducatorId: selectEducators.options[selectEducators.selectedIndex].value,
                HostId: selectHosts.options[selectHosts.selectedIndex].value,
                LessonDays: lessonDays,
                Quota: inputQuota.val(),
                EducatorPrice: inputEducatorPrice.val(),
                ClassRoomId: selectClassRoom.options[selectClassRoom.selectedIndex].value,
            });
            var resultAlert = new AlertSupport.ResultAlert();
            $.ajax({
                url: "/admin/add-group",
                method: "post",
                data: data,
                success: (res) => {
                    if (res.isSuccess) {
                        resultAlert.display({
                            success: true,
                            message: "Kayıt işlemi başarılı! Listeye gitmek için {link}",
                            redirectElement: {
                                content: "tıklayınız",
                                link: "/admin/gruplar"
                            }
                        });
                    } else {
                        resultAlert.display({
                            success: false,
                            errors: res.errors,
                            message: "İşlem başarısız"
                        });
                    }
                },
                complete: () => { btnSave.on("click", btnSave_onClick); }
            });
        }

        /* functions */
        function getEducators(data) {
            var jquerySelectEducators = $(selectEducators);
            jquerySelectEducators.html(`<option value="">Eğitmen seçiniz...</option>`);
            var appended = "";
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                appended += `<option value="${item.educatorId}">${item.name} ${item.surname}</option>`;
            }

            $(selectEducators).append(appended);
        }
        function getClassRooms(data) {
            var jquerySelectClassRooms = $(selectClassRoom);
            jquerySelectClassRooms.html(`<option value="">Sınıf seçiniz...</option>`);
            var appended = "";
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                appended += `<option value="${item.id}">${item.name}</option>`;
            }
            $(selectClassRoom).append(appended);
        }


        function validateData() {
            // ?
        }


    </script>
}
