@model NitelikliBilisim.Core.ViewModels.areas.admin.education_groups.AssignStudentsVm
@{
    ViewData["Title"] = "Gruba Öğrenci Ata";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<input type="hidden" value="@Model.Group.GroupId" id="_group-id" />

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> <strong>@Model.Group.GroupName</strong> Grubuna Öğrenci Ata
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <th>Grup Adı</th>
                        <td>@Model.Group.GroupName</td>
                    </tr>
                    <tr>
                        <th>Başlangıç Tarihi</th>
                        <td>@Model.Group.StartDate.ToLongDateString()</td>
                    </tr>
                    <tr>
                        <th>Eğitim</th>
                        <td>@Model.Group.EducationName</td>
                    </tr>
                    <tr>
                        <th>Eğitmen</th>
                        <td>@Model.Group.EducatorName</td>
                    </tr>
                    <tr>
                        <th>Konum</th>
                        <td>@Model.Group.Location</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>İsim</th>
                                <th>Soyisim</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-assigned">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>İsim</th>
                                <th>Soyisim</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-tickets">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">Veri tarihi: @DateTime.Now</div>
</div>

@section postScripts{
    <script>
        /* fields */
        var _groupId = document.getElementById("_group-id").value;
        /* elements */
        var tbodyAssigned = $("#tbody-assigned");
        var tbodyTickets = $("#tbody-tickets");
        /* assignments */
        $(document).ready(document_onLoad);
        /* events */
        function document_onLoad() {
            createTables();
        }
        function btnAssign_onClick() {
            var ticketId = this.getAttribute("data-ticket-id");
            $.ajax({
                url: "/admin/assign-ticket",
                method: "post",
                data: {
                    TicketId: ticketId,
                    GroupId: _groupId
                },
                success: (res) => { createTables(); }
            });
        }
        function btnUnassign_onClick() {
            var ticketId = this.getAttribute("data-ticket-id");
            $.ajax({
                url: "/admin/unassign-ticket",
                method: "post",
                data: {
                    TicketId: ticketId
                },
                success: (res) => { createTables(); }
            });
        }
        /* functions */
        function createAssignmentButtons() {
               var btnAssings = document.getElementsByClassName("btn-assign");
            for (var i = 0; i < btnAssings.length; i++) {
                var btn = btnAssings[i];
                btn.onclick = btnAssign_onClick;
            }
            var btnUnassings = document.getElementsByClassName("btn-unassign");
            for (var i = 0; i < btnUnassings.length; i++) {
                var btn = btnUnassings[i];
                btn.onclick = btnUnassign_onClick;
            }
        }
        function createTables() {
            $.ajax({
                url: `/admin/get-eligible-and-assigned-students/${_groupId}`,
                method: "get",
                success: (res) => {
                    if (res.isSuccess) {
                        console.log(res.data);
                        tbodyAssigned.html("");
                        tbodyTickets.html("");
                        var assignedStudents = res.data.assignedStudents;
                        var eligibleTickets = res.data.eligibleTickets;

                        var assignedAppend = "";
                        var eligibleAppend = "";

                        if (assignedStudents.length != 0)
                            for (var i = 0; i < assignedStudents.length; i++) {
                                var item1 = assignedStudents[i];
                                assignedAppend += "<tr>" +
                                    `<td>${item1.customerName}</td>` +
                                    `<td>${item1.customerSurname}</td>` +
                                    `<td><button class="btn btn-danger btn-unassign" data-ticket-id="${item1.ticketId}"><i class="fa fa-minus"></i></button></td>` +
                                    "</tr>";
                            }
                        else
                            assignedAppend = `<tr><td colspan="3">Gruba atanmış öğrenci yoktur</td></tr>`;
                        tbodyAssigned.append(assignedAppend);

                        if (eligibleTickets.length != 0)
                            for (var i = 0; i < eligibleTickets.length; i++) {
                                var item2 = eligibleTickets[i];
                                eligibleAppend += "<tr>" +
                                    `<td>${item2.customerName}</td>` +
                                    `<td>${item2.customerSurname}</td>` +
                                    `<td><button class="btn btn-success btn-assign" data-ticket-id="${item2.ticketId}"><i class="fa fa-plus"></i></button></td>` +
                                    "<tr>";
                            }
                        else
                            eligibleAppend = `<tr><td>Gruba atanabilecek öğrenci yoktur</td></tr>`;
                        tbodyTickets.append(eligibleAppend);

                        createAssignmentButtons();
                    }
                }
            });
        }
    </script>
}