@using Microsoft.AspNetCore.Identity
@using NitelikliBilisim.Core.Entities
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = await UserManager.FindByIdAsync(userId);
}
<div id="userDropdown" class="user-dropdown">
    <div class="user-dropdown__top">
        <div class="user-dropdown__name">
            @user.Name @user.Surname
        </div>
        <div class="user-dropdown__mail">
            @user.Email
        </div>
    </div>
    <div class="user-dropdown__list">
        <a asp-controller="UserProfile" asp-action="Profile" class="user-dropdown__item">
            <span class="icon-outer button-icon">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-home"></use>
                </svg>
            </span>
            Panelim
        </a>
        <a asp-controller="UserProfile" asp-action="MyCourses" class="user-dropdown__item">
            <span class="icon-outer button-icon">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-code-c"></use>
                </svg>
            </span>
            Kurslarım
        </a>
        <a asp-controller="UserProfile" asp-action="AccountSettings" class="user-dropdown__item">
            <span class="icon-outer button-icon">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-settings"></use>
                </svg>
            </span>
            Hesap Ayarları
        </a>
    </div>
    <div class="user-dropdown__footer">
        <a asp-controller="Account" asp-action="Logout" class="button button-fw button-icon-left">
            <span class="icon-outer button-icon">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-logout"></use>
                </svg>
            </span>
            <span class="button-txt">Çıkış Yap</span>
        </a>
    </div>
</div>
<header class="headerWrap headerWrap--account">
    <!--
      TODO: Header fixed mı olacak?
    -->
    <div class="container">
        <div class="header header--light">
            <div class="header__inner">
                <a asp-controller="Home" asp-action="Index" class="header__brand">
                    <img src="../../assets/img/nitelikli-bilisim_logo-dark.svg" alt="Nitelikli Bilişim Logo" height="40" />
                </a>
                <div class='education-overlay overlay js-close-modal'></div>
                <span class="header__education js-open-education">
                    <span class="icon-outer header__education-icon">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-dots"></use>
                        </svg>
                    </span>
                    <span>Eğitimler</span>
                </span>

                <aside id="educationContent" class="education__content">
                    <nav>
                        <a href="#webmobilprogramlama" class="js-educationMenu">
                            <span class="icon-outer header__item-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-window-code"></use>
                                </svg>
                            </span>
                            <span>Web & Mobil <br /> Programlama</span>
                        </a>

                        <a href="#sistemagyonetimi" class="js-educationMenu">
                            <span style="background-color: #454fd2;" class="icon-outer header__item-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-system-network"></use>
                                </svg>
                            </span>
                            <span>Sistem & Ağ <br /> Yönetimi</span>
                        </a>

                        <a href="#siberguvenlik" class="js-educationMenu">
                            <span style="background-color: #0072cd;" class="icon-outer header__item-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-azure"></use>
                                </svg>
                            </span>
                            <span>Siber Güvenlik</span>
                        </a>

                        <a href="#bulutbilisim" class="js-educationMenu">
                            <span style="background-color: #0566dd;" class="icon-outer header__item-icon">
                                <svg class="icon icon-azure">
                                    <use xlink:href="../../assets/img/icons.svg#icon-microsoft-azure"></use>
                                </svg>
                            </span>
                            <span>Bulut Bilişim</span>
                        </a>

                        <a href="#oyunprogramlama" class="js-educationMenu">
                            <span style="background-color: #222c38;" class="icon-outer header__item-icon">
                                <svg class="icon icon-unity">
                                    <use xlink:href="../../assets/img/icons.svg#icon-unity"></use>
                                </svg>
                            </span>
                            <span>Oyun Programlama</span>
                        </a>

                        <a href="#kurumsalkaynakplanlama" class="js-educationMenu">
                            <span style="background-color: #00b5c3;" class="icon-outer header__item-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-dynamics"></use>
                                </svg>
                            </span>
                            <span>Kurumsal Kaynak <br /> Planlama</span>
                        </a>
                    </nav>
                    <div class="header__education--outer js-open-education-outer">
                        <div class="header__education--banners js-open-banners">
                            <div class="banner">
                                <div class="banner__content">
                                    <p>
                                        Proje eğitimlerinde %30 indirim fırsatı!
                                    </p>
                                    <a href="">
                                        <span>Şimdi İncele</span>
                                        <img src="../../assets/img/arrowRightLong.png" alt="" />
                                    </a>
                                </div>
                                <figure class="banner__image">
                                    <img src="../../assets/img/banner1.png" alt="" height="150" />
                                </figure>
                            </div>

                            <div class="banner" style="background-color: #78bbd0">
                                <div class="banner__content">
                                    <p>
                                        Şimdi kayıt olun, size özel eğitimleri kaçırmayın!
                                    </p>
                                    <a href="" class="button button--light mt-2">
                                        Üye Ol
                                    </a>
                                </div>
                                <figure class="banner__image">
                                    <img src="../../assets/img/banner2.png" alt="" />
                                </figure>
                            </div>
                        </div>
                        <div class="header__education--submenu js-open-submenu">
                            <div class="header__education--subin" id="webmobilprogramlama">

                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        56 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="header__education--subin" id="sistemagyonetimi">
                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        123 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme111</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>

                            </div>
                            <div class="header__education--subin" id="siberguvenlik">
                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        14 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme222</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="header__education--subin" id="bulutbilisim">
                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        1054 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme333</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="header__education--subin" id="oyunprogramlama">
                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        2 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştir444me</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="header__education--subin" id="kurumsalkaynakplanlama">
                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        1 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme555</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>

                <nav class="header__links">
                    <li>
                        <a  class="js-modal-trigger" data-trigger="egitimSihirbazi">Eğitim Sihirbazı</a>
                    </li>
                    <li id="TumSayfalar" class="header__dropdown">
                        <!--
                          TODO: Bu linkin paddingleri tasarımda fazla basılmış, kod tarafında sorun oluyor.
                        -->
                        <a href="javascript:void(0)">
                            <span>Kurumsal</span>
                        </a>

                        <ul>
                            <a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a>
                            <a asp-controller="Home" asp-action="FrequentlyAskedQuestions">Sıkça Sorulan Sorular</a>
                            <a asp-controller="Home" asp-action="Contact">İletişim</a>
                            <a asp-controller="Home" asp-action="EducatorApplication">Eğitmen Başvurusu</a>
                            <a asp-controller="Home" asp-action="NonDisclosureAgreement">Gizlilik Sözleşmesi</a>
                            <a asp-controller="Blog" asp-action="List">Blog Listeleme</a>
                            <a asp-controller="Home" asp-action="UserComments">Kullanıcı Yorumları</a>
                            <a href="./egitim-listeleme.php">Eğitim Listeleme</a>
                            <a asp-controller="UserProfile" asp-action="ForYou">Sana Özel</a>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="CorporateMembershipApplication">Kurumsal Üyelik Talebi</a>
                    </li>
                </nav>

                <nav class="header__right-side">
                    <div class='header-overlay overlay js-close-modal'></div>
                    <!-- giriş yapılmamış -->
                    <!-- <a class="button button--ghost header__login-button">
                      <span class="icon-outer button-icon">
                        <svg class="icon">
                          <use xlink:href="../../assets/img/icons.svg#icon-lock"></use>
                        </svg>
                      </span>
                      <span>Giriş Yap</span>
                    </a>
                    <a class="button header__register-button">
                      <span class="icon-outer button-icon">
                        <svg class="icon">
                          <use xlink:href="../../assets/img/icons.svg#icon-user"></use>
                        </svg>
                      </span>
                      <span>Üye Ol</span>
                    </a> -->
                    <!-- giriş yapılmamış -->
                    <!-- giriş yapılmış -->
                    <div class="header__profile-btn js-open-user-dropdown">
                        <div class="header__profile-img">
                            @{
                                var avatarPath = "";
                                if (!string.IsNullOrEmpty(user.AvatarPath))
                                {
                                    avatarPath = @StorageService.BlobUrl+user.AvatarPath;
                                }
                                else
                                {
                                    avatarPath = "../../img/nb_letter_logo_sm.png";
                                }
                            }
                            <img src="@avatarPath" alt="">
                            <div class="header__profile-caret"></div>
                        </div>
                        <div class="header__profile-cnt">
                            <div class="header__profile-name">@user.Name @user.Surname </div>
                        </div>
                    </div>
                    <!-- giriş yapılmış -->

                </nav>
            </div>
        </div>
    </div>
</header>