@using Microsoft.AspNetCore.Identity
@using NitelikliBilisim.Core.Entities
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="userDropdown" class="user-dropdown">
    @if (User.Identity.IsAuthenticated)
    {
        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
        var user = await UserManager.FindByIdAsync(userId);
        <div class="user-dropdown__top">
            <div class="user-dropdown__name">
                @user.Name @user.Surname
            </div>
            <div class="user-dropdown__mail">
                @user.Email
            </div>
        </div>
    }
    <div class="user-dropdown__list">
        <a asp-controller="UserProfile" asp-action="Profile" class="user-dropdown__item">
            <span class="icon-outer button-icon">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-home"></use>
                </svg>
            </span>
            Panelim
        </a>
        <a asp-controller="UserProfile" asp-action="MyCourses" class="user-dropdown__item">
            <span class="icon-outer button-icon">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-code-c"></use>
                </svg>
            </span>
            Kurslarım
        </a>
        <a asp-controller="UserProfile" asp-action="AccountSettings" class="user-dropdown__item">
            <span class="icon-outer button-icon">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-settings"></use>
                </svg>
            </span>
            Hesap Ayarları
        </a>
    </div>
    <div class="user-dropdown__footer">
        <a asp-controller="Account" asp-action="Logout" class="button button-fw button-icon-left">
            <span class="icon-outer button-icon">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-logout"></use>
                </svg>
            </span>
            <span class="button-txt">Çıkış Yap</span>
        </a>
    </div>
</div>
<div id="miniBasket" class="mini-basket">
    <div class="mini-basket__top">
        <div class="title title--small">
            SEPETTEKİ
            <span class="title--blue">ÜRÜNLERİM</span>
        </div>
        <div class="mini-basket__count">2 Ürün</div>
    </div>
    <div class="mini-basket__cnt">

    </div>
    <div class="mini-basket__footer">
        <a asp-controller="Sale" asp-action="Cart" class="button button-fw button-icon-right">
            <span class="button-txt">Alışverişi Tamamla</span>
            <span class="icon-outer button-icon">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                </svg>
            </span>
        </a>
    </div>
</div>
<header class="headerWrap">
    <div class="container">
        <div class="header">
            <div class="header__inner">
                <a asp-controller="Home" asp-action="Index" class="header__brand">
                    <img src="~/assets/img/nitelikli-bilisim_logo.svg" alt="Nitelikli Bilişim Logo" height="35" />
                </a>
                <div class='education-overlay overlay js-close-modal'></div>
                <span class="header__education js-open-education">
                    <span class="icon-outer header__education-icon">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-dots"></use>
                        </svg>
                    </span>
                    <span>Eğitimler</span>
                </span>

                <aside id="educationContent" class="education__content">
                    <nav>
                        <a href="#webmobilprogramlama" class="js-educationMenu">
                            <span class="icon-outer header__item-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-window-code"></use>
                                </svg>
                            </span>
                            <span>Web & Mobil <br /> Programlama</span>
                        </a>

                        <a href="#sistemagyonetimi" class="js-educationMenu">
                            <span style="background-color: #454fd2;" class="icon-outer header__item-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-system-network"></use>
                                </svg>
                            </span>
                            <span>Sistem & Ağ <br /> Yönetimi</span>
                        </a>

                        <a href="#siberguvenlik" class="js-educationMenu">
                            <span style="background-color: #0072cd;" class="icon-outer header__item-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-azure"></use>
                                </svg>
                            </span>
                            <span>Siber Güvenlik</span>
                        </a>

                        <a href="#bulutbilisim" class="js-educationMenu">
                            <span style="background-color: #0566dd;" class="icon-outer header__item-icon">
                                <svg class="icon icon-azure">
                                    <use xlink:href="../../assets/img/icons.svg#icon-microsoft-azure"></use>
                                </svg>
                            </span>
                            <span>Bulut Bilişim</span>
                        </a>

                        <a href="#oyunprogramlama" class="js-educationMenu">
                            <span style="background-color: #222c38;" class="icon-outer header__item-icon">
                                <svg class="icon icon-unity">
                                    <use xlink:href="../../assets/img/icons.svg#icon-unity"></use>
                                </svg>
                            </span>
                            <span>Oyun Programlama</span>
                        </a>

                        <a href="#kurumsalkaynakplanlama" class="js-educationMenu">
                            <span style="background-color: #00b5c3;" class="icon-outer header__item-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-dynamics"></use>
                                </svg>
                            </span>
                            <span>Kurumsal Kaynak <br /> Planlama</span>
                        </a>
                    </nav>
                    <div class="header__education--outer js-open-education-outer">
                        <div class="header__education--banners js-open-banners">
                            <div class="banner">
                                <div class="banner__content">
                                    <p>
                                        Proje eğitimlerinde %30 indirim fırsatı!
                                    </p>
                                    <a href="">
                                        <span>Şimdi İncele</span>
                                        <img src="~/assets/img/arrowRightLong.png" alt="" />
                                    </a>
                                </div>
                                <figure class="banner__image">
                                    <img src="~/assets/img/banner1.png" alt="" height="150" />
                                </figure>
                            </div>

                            <div class="banner" style="background-color: #78bbd0">
                                <div class="banner__content">
                                    <p>
                                        Şimdi kayıt olun, size özel eğitimleri kaçırmayın!
                                    </p>
                                    <a href="" class="button button--light mt-2">
                                        Üye Ol
                                    </a>
                                </div>
                                <figure class="banner__image">
                                    <img src="~/assets/img/banner2.png" alt="" />
                                </figure>
                            </div>
                        </div>
                        <div class="header__education--submenu js-open-submenu">
                            <div class="header__education--subin" id="webmobilprogramlama">

                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        56 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="header__education--subin" id="sistemagyonetimi">
                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        123 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme111</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>

                            </div>
                            <div class="header__education--subin" id="siberguvenlik">
                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        14 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme222</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="header__education--subin" id="bulutbilisim">
                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        1054 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme333</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="header__education--subin" id="oyunprogramlama">
                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        2 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştir444me</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="header__education--subin" id="kurumsalkaynakplanlama">
                                <div class="header__education-sub--top">
                                    <div class="header__education-sub--top-left">
                                        1 Eğitim
                                    </div>
                                    <div class="header__education-sub--top-right">
                                        <a href="#0">Tüm Eğitimler</a>
                                    </div>
                                </div>

                                <ul class="header__education-sub--cnt">
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme555</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                                <span class="icon-outer icon-right-arrow">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                    <div class="header__education-sub--cnt-wrp">
                                        <span>Masaüstü Yazılım Geliştirme</span>
                                        <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                        <li><a href="#0">Microsoft.NET</a></li>
                                        <li class="header__education-sub--drp-item">
                                            <a href="#0">
                                                Java alt kategorili
                                            </a>
                                            <ul class="header__education-sub--dropdown">
                                                <span>Java</span>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                                <li><a href="#0">Tüm Masaüstü Yazılım Geliştirme</a></li>
                                                <li><a href="#0">Microsoft.NET</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#0">Node.js</a></li>
                                        <li><a href="#0">Phyton</a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>

                <nav class="header__links">
                    <li>
                        <a href="#0" class="js-modal-trigger" data-trigger="egitimSihirbazi">Eğitim Sihirbazı</a>
                    </li>
                    <li id="TumSayfalar" class="header__dropdown">
                        <a href="javascript:void(0)">
                            <span>Kurumsal</span>
                        </a>
                        <ul>
                            <a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a>
                            <a asp-controller="Home" asp-action="FrequentlyAskedQuestions">Sıkça Sorulan Sorular</a>
                            <a asp-controller="Home" asp-action="Contact">İletişim</a>
                            <a asp-controller="Home" asp-action="EducatorApplication">Eğitmen Başvurusu</a>
                            <a asp-controller="Home" asp-action="NonDisclosureAgreement">Gizlilik Sözleşmesi</a>
                            <a asp-controller="Blog" asp-action="List">Blog Listeleme</a>
                            <a asp-controller="Home" asp-action="UserComments">Kullanıcı Yorumları</a>
                            <a href="./egitim-listeleme.php">Eğitim Listeleme</a>
                            <a asp-controller="UserProfile" asp-action="ForYou">Sana Özel</a>

                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="CorporateMembershipApplication">Kurumsal Üyelik Talebi</a>
                    </li>
                </nav>

                <nav class="header__right-side">
                    <div class='header-overlay overlay js-close-modal'></div>


                    @if (User.Identity.IsAuthenticated)
                    {
                        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                        var user = await UserManager.FindByIdAsync(userId);
                        var profileImage = "";
                        try
                        {
                            if (User.IsInRole("Educator"))
                            {

                                profileImage = StorageService.DownloadFile(System.IO.Path.GetFileName(user.AvatarPath), "educator-photos").Result;
                            }
                            else if (User.IsInRole("User"))
                            {
                                profileImage = StorageService.DownloadFile(System.IO.Path.GetFileName(user.AvatarPath), "user-avatars").Result;
                            }
                        }
                        catch
                        {
                        }

                        <!-- giriş yapılmış -->
                        <div class="header__profile-btn js-open-user-dropdown">
                            <div class="header__profile-img">
                                <img src="@profileImage" alt="">
                                <div class="header__profile-caret"></div>
                            </div>
                            <div class="header__profile-cnt">
                                <div class="header__profile-txt">Hoşgeldiniz</div>
                                <div class="header__profile-name">@user.Name @user.Surname</div>
                            </div>
                        </div>
                        <a asp-controller="UserProfile" asp-action="ForYou" class="button header__register-button">
                            <span class="icon-outer button-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-star-s"></use>
                                </svg>
                            </span>
                            <span>Sana Özel</span>
                        </a>
                        <!-- giriş yapılmış -->
                    }
                    else
                    {
                        <!-- giriş yapılmamış -->
                        <a asp-controller="Account" asp-action="Login" class="button button--ghost header__login-button">
                            <span class="icon-outer button-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-lock"></use>
                                </svg>
                            </span>
                            <span>Giriş Yap</span>
                        </a>
                        <a asp-controller="Account" asp-action="Register" class="button header__register-button">
                            <span class="icon-outer button-icon">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-user"></use>
                                </svg>
                            </span>
                            <span>Üye Ol</span>
                        </a>
                        <!-- giriş yapılmamış -->
                    }

                    <a class="header__hamper js-open-mini-basket">
                        <span class="icon-outer icon-basket">
                            <svg class="icon">
                                <use xlink:href="../../assets/img/icons.svg#icon-basket"></use>
                            </svg>
                        </span>
                        <!-- <span class="header__count">3</span> -->
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>

<header class="header-mobile">

    <div class="container">
        <div class="header-mobile__wrp">
            <div class="header-mobile__dots js-open-mobile-menu">
                <span class="icon-outer header-mobile__dots-open">
                    <svg class="icon">
                        <use xlink:href="../../assets/img/icons.svg#icon-dots"></use>
                    </svg>
                </span>
                <span class="icon-outer header-mobile__dots-close">
                    <svg class="icon">
                        <use xlink:href="../../assets/img/icons.svg#icon-circle-close-c"></use>
                    </svg>
                </span>
            </div>
            <a asp-controller="Home" asp-action="Index" class="header-mobile__logo">
                <img src="~/assets/img/nitelikli-bilisim_logo.svg" class="logolight" alt="Nitelikli Bilişim Logo" height="35" />
                <img src="~/assets/img/nitelikli-bilisim_logo-dark.svg" class="logodark" alt="Nitelikli bilişim logo" height="35">
            </a>
            <div class="header-mobile__right">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="UserProfile" asp-action="MyMenu" class="header-mobile__right-btn">
                        <span class="icon-outer">
                            <svg class="icon">
                                <use xlink:href="../../assets/img/icons.svg#icon-user"></use>
                            </svg>
                        </span>
                    </a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" class="header-mobile__right-btn">
                        <span class="icon-outer">
                            <svg class="icon">
                                <use xlink:href="../../assets/img/icons.svg#icon-user"></use>
                            </svg>
                        </span>
                    </a>
                }
                <div class="header-mobile__right-btn js-open-mini-basket">
                    <span class="icon-outer">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-basket"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="mobile-menu__list">
                <div class="mobile-menu__item mobile-menu-dropdown active js-mobile-menu-dropdown">
                    <span class="mobile-menu__txt">
                        Eğitimler
                    </span>
                    <div class="mobile-menu__dropdown">
                        <div class="mobile-menu-dropdown ">
                            <div class="js-mobile-menu-subdropdown">
                                <span style="color: #007cc8;">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-window-code"></use>
                                    </svg>
                                </span>
                                <span>Web & Mobil Programlama</span>
                            </div>
                            <div class="mobile-menu__subdropdown">
                                <a href="./index.php">Java</a>
                                <a href="./egitim-listeleme.php">Vue</a>
                                <a href="#0" class="mobile-menu-subin js-mobile-subin">
                                    <div>Microsoft</div>
                                </a>
                                <div class="mobile-menu-subin__dropdown">
                                    <a href="#0">React</a>
                                    <a href="#0">javascript</a>
                                    <a href="#0">Pyhton</a>
                                </div>
                                <a href="./egitmen-detay.php">Pyhton</a>
                                <a href="./blog-listeleme.php">React</a>
                            </div>
                        </div>

                        <div class="mobile-menu-dropdown">
                            <div class="js-mobile-menu-subdropdown">
                                <span style="color: #454fd2;">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-system-network"></use>
                                    </svg>
                                </span>
                                <span>Sistem & Ağ Yönetimi</span>
                            </div>
                            <div class="mobile-menu__subdropdown">
                                <a href="./index.php">Java</a>
                                <a href="./egitim-listeleme.php">Vue</a>
                                <a href="./egitim-detay.php">Microsoft</a>
                                <a href="./egitmen-detay.php">Pyhton</a>
                                <a href="./blog-listeleme.php">React</a>
                            </div>
                        </div>

                        <div class="mobile-menu-dropdown no-after">
                            <div>
                                <span style="color: #0072cd;">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-azure"></use>
                                    </svg>
                                </span>
                                <span>Siber Güvenlik</span>
                            </div>
                        </div>

                        <div class="mobile-menu-dropdown">
                            <div class="js-mobile-menu-subdropdown">
                                <span style="color: #0566dd;">
                                    <svg class="icon icon-azure">
                                        <use xlink:href="../../assets/img/icons.svg#icon-microsoft-azure"></use>
                                    </svg>
                                </span>
                                <span>Bulut Bilişim</span>
                            </div>
                            <div class="mobile-menu__subdropdown">
                                <a href="./index.php">Java</a>
                                <a href="./egitim-listeleme.php">Vue</a>
                                <a href="./egitim-detay.php">Microsoft</a>
                                <a href="./egitmen-detay.php">Pyhton</a>
                                <a href="./blog-listeleme.php">React</a>
                            </div>
                        </div>

                        <div class="mobile-menu-dropdown no-after">
                            <div>
                                <span style="color: #222c38;">
                                    <svg class="icon icon-unity">
                                        <use xlink:href="../../assets/img/icons.svg#icon-unity"></use>
                                    </svg>
                                </span>
                                <span>Oyun Programlama</span>
                            </div>
                        </div>

                        <div class="mobile-menu-dropdown js-mobile-menu-subdropdown no-after">
                            <div>
                                <span style="color: #00b5c3;">
                                    <svg class="icon">
                                        <use xlink:href="../../assets/img/icons.svg#icon-dynamics"></use>
                                    </svg>
                                </span>
                                <span>Kurumsal Kaynak Planlama</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu__item mobile-menu-dropdown js-mobile-menu-dropdown">
                    <span class="mobile-menu__txt">
                        Kurumsal
                    </span>
                    <div class="mobile-menu__dropdown">
                        <a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a>
                        <a asp-controller="Home" asp-action="FrequentlyAskedQuestions">Sıkça Sorulan Sorular</a>
                        <a asp-controller="Home" asp-action="Contact">İletişim</a>
                        <a asp-controller="Home" asp-action="NonDisclosureAgreement">Gizlilik Sözleşmesi</a>
                        <a asp-controller="Blog" asp-action="List">Blog Listeleme</a>
                        <a asp-controller="Home" asp-action="UserComments">Kullanıcı Yorumları</a>
                        <a href="./egitim-listeleme.php">Eğitim Listeleme</a>
                        <a asp-controller="UserProfile" asp-action="ForYou">Sana Özel</a>
                    </div>
                </div>
                <div class="mobile-menu__item js-modal-trigger" data-trigger="egitimSihirbazi">
                    <span class="mobile-menu__txt">
                        Eğitim Sihirbazı
                    </span>
                </div>
                <a asp-controller="Home" asp-action="EducatorApplication" class="mobile-menu__item">
                    <span class="mobile-menu__txt">
                        Eğitmen Başvurusu
                    </span>
                </a>
                <a asp-controller="Blog" asp-action="List" class="mobile-menu__item">
                    <span class="mobile-menu__txt">
                        Blog
                    </span>
                </a>
            </div>
            <div class="mobile-menu__footer">
                <a href="#">Kullanım Koşulları</a>
                <a href="#">Gizlilik Koşulları</a>
            </div>
        </div>
    </div>

</header>
<div class='header-overlay overlay js-close-modal header-overlay--mobile'></div>