@*@model NitelikliBilisim.Core.ViewModels.EducationVm*@
@model NitelikliBilisim.Core.ViewModels.Main.Course.CourseDetailsVm
@{
    ViewData["Title"] = $"{Model.Details.Base.Name} Kurs Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        #hero_in.courses:before {
            background: url(@Model.Details.Medias.Where(x => x.MediaType == NitelikliBilisim.Core.Enums.EducationMediaType.Banner).FirstOrDefault().FileUrl) center center no-repeat;
        }
    </style>

    <link href="~/css/pages/course/desktop-details.css" rel="stylesheet" />
    <link href="~/css/pages/course/mobile-details.css" rel="stylesheet" />
    <link href="~/css/pages/course/temp-details.css" rel="stylesheet" />
}

@{
    var hours = Model.Details.Base.DaysNumeric * Model.Details.Base.HoursPerDayNumeric;
}

<main>
    <section id="hero_in" class="courses">
        <div class="wrapper">
            <div class="container" style="display: none !important">
                <input type="hidden" value="@Model.Details.Base.Id" id="_education-id" />
                <h1 class="fadeInUp"><span></span>@Model.Details.Base.Name</h1>
            </div>
        </div>
    </section>

    <div class="bg_color_1">
        <nav class="secondary_nav sticky_horizontal">
            <div class="container">
                <ul class="clearfix">
                    <li><a href="#description" class="active">Grup Bilgisi</a></li>
                    <li><a href="#lessons">Eğitim İçeriği</a></li>
                    <li><a href="#teachers">Eğitmenler</a></li>
                    <li><a href="#reviews">Yorumlar</a></li>
                </ul>
            </div>
        </nav>
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-8">

                    <section id="description">

                        <div>
                            <span>Bu eğitim için birden fazla eğitim grubu vardır. Lütfen size uygun olan grubu seçiniz.</span>
                        </div>
                        <div class="group-selector-container">
                            <select id="select-groups">
                            </select>
                        </div>
                        <h3><span></span>@Model.Details.Base.Name</h3>
                        <p>@Model.Details.Base.Description</p>
                        <h5>Ne öğreneceksiniz?</h5>
                        <ul class="list_ok">
                            @foreach (var item in Model.Details.Gains)
                            {
                                <li>@item.Gain</li>
                            }
                        </ul>
                        <hr>
                        @if (!string.IsNullOrWhiteSpace(Model.Details.Base.Description2))
                        {
                            <p>@Model.Details.Base.Description2</p>
                        }
                    </section>

                    @* EĞİTİM PARÇALARI *@
                    <section id="lessons">
                        <div class="intro_title">
                            <div class="row">
                                <div class="col-md-9 col-sm-6"><h5>Dersler</h5></div>
                                <div class="col-md-3 col-sm-6">
                                    <ul>
                                        <li>@Model.Details.Base.DaysText gün</li>
                                        <li>@hours saat</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="accordion_lessons" role="tablist" class="add_bottom_45">
                            @{
                                var count = 1;
                            }
                            @foreach (var part in Model.Details.Parts)
                            {
                                <div class="card">
                                    <div class="card-header" role="tab" id="heading_@count">
                                        <h5 class="mb-0">
                                            @{
                                                var icon = count != 1 ? "ti-plus" : "ti-minus";
                                            }
                                            <a data-toggle="collapse" href="#collapse_@count" aria-expanded="true" aria-controls="collapse_@count"><i class="indicator @icon"></i> @part.Title</a>
                                        </h5>
                                    </div>
                                    @{
                                        var show = count != 1 ? "" : "show";
                                    }
                                    <div id="collapse_@count" class="collapse @show" role="tabpanel" aria-labelledby="heading_@count" data-parent="#accordion_lessons">
                                        <div class="card-body">
                                            <div class="list_lessons">
                                                <ul>
                                                    @foreach (var item in part.SubParts)
                                                    {
                                                        <li><a class="txt_doc">@item.Title</a><span></span></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                count++;
                            }
                        </div>
                    </section>

                    @* EĞİTMENLER *@
                    <section id="teachers">
                        <div class="intro_title">
                            <h5>Eğitmenler</h5>
                        </div>
                        <p>Bu dersi veren, alanında uzman eğitmenlerimizi tanıyın!</p>
                        <div class="row add_top_20 add_bottom_30">
                            <div class="col-lg-6">
                                <ul class="list_teachers">
                                    @foreach (var educator in Model.Educators)
                                    {
                                        <li>
                                            <a href="/egitmen-profili/@educator.EducatorId">
                                                <figure><img src="@educator.ProfilePhoto" alt=""></figure>
                                                <h5 style="color: #2d2f33 !important">@educator.Name @educator.Surname</h5>
                                                <p>@educator.Title</p><i class="pe-7s-angle-right-circle"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- /row -->
                    </section>
                </div>

                @* SAĞ TARAFTAKİ KURS DETAYLARI *@
                <aside class="col-lg-4" id="sidebar">
                    <div class="box_detail">
                        <div class="map-container">
                            <div id="map">

                            </div>
                        </div>
                        <div id="list_feat">
                            <h3></h3>
                            <ul class="course-summary-list">
                                <li id="text-group-host-start-date"></li>
                                <li><i class="icon-hourglass"></i>@Model.Details.Base.DaysText gün (@hours saat)</li>
                                <li id="text-group-host-address"></li>
                                <li id="text-group-joined"></li>
                                <li id="text-group-quota"></li>
                            </ul>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </div>

    <section id="bottom-details">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <span id="text-group-start-date"></span><span id="text-group-name-and-city"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size:1.3em">@Model.Details.Base.Name</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <p style="font-size:1.3em">@Model.Details.Base.PriceText</p>
                </div>
                <div class="col-md-3">
                    <button class="btn_1 rounded" id="btn-buy2">Katıl</button>
                </div>
            </div>
        </div>
    </section>
</main>

@section postScripts{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwbBlZQaeP0fYu7xTiviCCWGAK3onN-iE&callback=initMap"></script>
    <script src="~/js/sup/cart.js"></script>
    <script>
        /* fields */
        var _educationId = $("#_education-id").val();
        var groups = [];
        var latitude = 0, longitude = 0;
        var markerTitle = "Niteliklibilişim"

        /* elements */
        var btnBuy = $("#btn-buy");
        var btnBuy2 = $("#btn-buy2");
        var selectGroups = document.getElementById("select-groups");
        var textGroupHostStartDate = $("#text-group-host-start-date");
        var textGroupHostAddress = $("#text-group-host-address");
        var textGroupQuota = $("#text-group-quota");
        var textGroupJoined = $("#text-group-joined");
        var textGroupStartDate = $("#text-group-start-date");
        var textGroupNameAndCity = $("#text-group-name-and-city");

        /* assignments */
        $(document).ready(document_onLoad);
        selectGroups.onchange = selectGroups_onChange;
        btnBuy.on("click", btnBuy_onClick);
        btnBuy2.on("click", btnBuy_onClick);

        /* events */
        function document_onLoad() {
            $.ajax({
                url: `/get-available-groups-for-course/${_educationId}`,
                method: "get",
                success: (res) => {
                    groups = res.data;
                    var appended = "";
                    for (var i = 0; i < groups.length; i++) {
                        var item = groups[i];
                        appended += `<option value="${item.groupId}">${item.host.hostName} (${item.host.city})</option>`;
                    }
                    $(selectGroups).append(appended);
                    selectGroups.selectedIndex = 0;
                    selectGroups_onChange();
                    initMap();
                }
            });
        }
        function selectGroups_onChange() {
            var index = selectGroups.selectedIndex;
            var group = groups[index];
            console.log(group);
            latitude = group.host.latitude;
            longitude = group.host.longitude;
            initMap();
            textGroupHostStartDate.html(`<i class="icon-calendar-circled"></i> ${group.startDateText}`);
            textGroupHostAddress.html(`<i class=" icon-location-2"></i> ${group.host.address}`);
            textGroupJoined.html(`<i class="icon-user"></i> Katılımcı: ${group.joined}`);
            textGroupQuota.html(`<i class="icon-users-2"></i> Kontenjan: ${group.quota}`);
            textGroupStartDate.html(`${group.startDateText}, `);
            textGroupNameAndCity.html(`${group.host.hostName} (${group.host.city})`);
        }
        function btnBuy_onClick() {
            var cart = new CartSupport.Cart();
            cart.addToCart(_educationId);

            location.href = "/sepet";
        }

        /* functions */
        function initMap() {
            var location = { lat: parseFloat(latitude), lng: parseFloat(longitude) };
            var map = new google.maps.Map(document.getElementById('map'), { zoom: 13, center: location });
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: markerTitle
            });
        }
    </script>
}
@*<li id="text-group-host-start-date"><i class="icon-calendar-circled"></i>@Model.Group.StartDate.ToLongDateString()</li>
    <li id=""><i class="icon-hourglass"></i>@Model.Details.Base.DaysText gün (@hours saat)</li>
    <li id="text-group-host-address"><i class=" icon-location-2"></i>@Model.Group.Host.Address</li>
    <li><i class="icon-user"></i>Katılımcı: 0</li>
    <li id="text-group-quota"><i class="icon-users-2"></i>Kontenjan: @Model.Group.Quota</li>*@