@model NitelikliBilisim.Core.ViewModels.Main.Profile.MyCourseDetailVm
@using NitelikliBilisim.Core.Services.Abstracts
@using NitelikliBilisim.App.Utility
@inject IStorageService StorageService
@{
    ViewData["Title"] = "Kurs Detayları";
    Layout = "~/Views/Shared/_LayoutHesap.cshtml";

    var educationImage = "";
    if (!string.IsNullOrEmpty(Model.EducationFeaturedImage))
    {
        educationImage = StorageService.BlobUrl + Model.EducationFeaturedImage;
    }
    var educatorImage = "";
    if (!string.IsNullOrEmpty(Model.EducatorAvatarPath))
    {
        educatorImage = StorageService.BlobUrl + Model.EducatorAvatarPath;
    }
}

<section class="account account--dashboard">
    <div class="account-mobile__top">
        <a asp-controller="UserProfile" asp-action="MyMenu" class="account-mobile__prev">
            <span class="icon-outer">
                <svg class="icon">
                    <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                </svg>
            </span>
        </a>
        <span class="account-mobile__txt">
            KURS DETAY
        </span>
    </div>
    <div class="container">
        <div class="account__wrp">
            @await Component.InvokeAsync("MyAccountSidebar", AccountSideBarPageNames.MyCourses)
            <div class="account-content">
                <div class="account-detail">
                    <div class="account-detail__wrp">
                        <a asp-controller="UserProfile" asp-action="MyCourses" class="account-detail__title account-detail__title--link">
                            <span class="icon-outer">
                                <svg class="icon">
                                    <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                </svg>
                            </span>
                            KURS LİSTESİNE GERİ DÖN
                        </a>
                        @if (TempData["Success"] != null)
                        {
                            <div class="success-messages" style="display: block;">
                                @TempData["Success"]
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div class="error-messages" style="display: block;">
                                @TempData["Error"]
                            </div>
                        }
                        @if (Model.IsCancelled)
                        {
                            <div class="error-messages" style="display: block;">
                               Bu eğitim iptal edilmiştir.
                            </div>
                        }
                        <div class="account-course-detail">
                            <div class="account-course-detail__item">
                                <div class="account-course-detail__item-img">
                                    <img src="@educationImage" alt="">
                                </div>
                                <div class="account-course-detail__item-cnt">
                                    <div class="account-course-detail__item-title">
                                        @Model.EducationName
                                    </div>
                                    <div class="account-course-detail__item-txt">
                                        @Model.EducationShortDescription
                                    </div>
                                </div>
                                <div class="account-course-detail__item-button">
                                    <a asp-controller="Course" asp-action="Details" asp-route-catSeoUrl="@Model.CategorySeoUrl" asp-route-seoUrl="@Model.SeoUrl" class="button button-fw button-icon-right">
                                        <span class="button-txt">Eğitim Detayı</span>
                                        <span class="button-icon">
                                            <span class="icon-outer">
                                                <svg class="icon">
                                                    <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                </svg>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="account-course-detail__infos">
                                <div class="account-course-detail__info">
                                    <span class="icon-outer">
                                        <svg class="icon">
                                            <use xlink:href="../../assets/img/icons.svg#icon-clock"></use>
                                        </svg>
                                    </span>
                                    @Model.Days gün ( @Model.Hours saat )
                                </div>
                                <div class="account-course-detail__info">
                                    <span class="icon-outer">
                                        <svg class="icon">
                                            <use xlink:href="../../assets/img/icons.svg#icon-map-pin-f"></use>
                                        </svg>
                                    </span>
                                    @Model.Host
                                </div>
                                <div class="account-course-detail__info">
                                    <span class="icon-outer">
                                        <svg class="icon">
                                            <use xlink:href="../../assets/img/icons.svg#icon-bank"></use>
                                        </svg>
                                    </span>
                                    Kredi Kartı
                                </div>
                                <div class="account-course-detail__info price">
                                    @Model.PriceText
                                    <span style="margin-left:5px">TL</span>
                                </div>
                            </div>
                            <div class="account-course-detail__certificate">
                                <div class="account-course-detail__certificate-img"
                                     data-name="@Model.EducationName">
                                    <img src="../../assets/img/certificate.jpg" alt="">
                                </div>
                                <div class="account-course-detail__certificate-cnt">
                                    <div class="account-course-detail__certificate-txt">
                                        @Model.CategoryName
                                    </div>
                                    <div class="account-course-detail__certificate-title">
                                        @Model.EducationName Bitirme Setifikası
                                    </div>
                                </div>
                                @if (Model.IsCertificateAvailable)
                                {
                                    <div class="account-course-detail__certificate-button">
                                        <a href="/download-student-certificate?groupId=@Model.GroupId" class="button button-fw button-icon-right">
                                            <span class="button-txt">PDF İndir</span>
                                            <span class="button-icon">
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-long-arrow"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="account-course-detail__certificate-button">
                                        <a class="button button-fw button-yellow button-icon-right">
                                            <span class="button-txt">Hazırlanıyor</span>
                                            <span class="button-icon">
                                                <span class="icon-outer">
                                                    <svg class="icon">
                                                        <use xlink:href="../../assets/img/icons.svg#icon-clock"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                }

                            </div>
                            <div class="account-course-detail__teacher">
                                <div class="account-course-detail__teacher-img">
                                    <img src="@educatorImage" alt="">
                                </div>
                                <div class="account-course-detail__teacher-cnt">
                                    <div class="account-course-detail__teacher-top">
                                        <div class="main-stars">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= Model.EducatorPoint)
                                                {
                                                    <span class="icon-outer icon-star active">
                                                        <svg class="icon">
                                                            <use xlink:href="../../assets/img/icons.svg#icon-star"></use>
                                                        </svg>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="icon-outer icon-star">
                                                        <svg class="icon">
                                                            <use xlink:href="../../assets/img/icons.svg#icon-star"></use>
                                                        </svg>
                                                    </span>
                                                }
                                            }
                                        </div>
                                        @Model.EducatorPoint Puan
                                        <span>(@Model.EducatorStudentCount Öğrenci)</span>
                                    </div>
                                    <div class="account-course-detail__teacher-name">
                                        @Model.EducatorName
                                    </div>
                                    <div class="account-course-detail__teacher-branch">
                                        @Model.EducatorTitle
                                    </div>
                                    <div class="account-course-detail__teacher-tags">
                                        @foreach (var certificate in Model.EducatorCertificates)
                                        {
                                            var certificateImage = "";
                                            if (!string.IsNullOrEmpty(Model.EducatorAvatarPath))
                                            {
                                                certificateImage = StorageService.BlobUrl + certificate.CertificateImagePath;
                                            }
                                            <div class="account-course-detail__teacher-tag">
                                                <img src="@certificateImage" alt="">
                                                @certificate.Name
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="account-course-detail__teacher-button">
                                    <a asp-controller="Educator" asp-action="Details" asp-route-educatorId="@Model.EducatorId" class="button button-fw button-icon-right">
                                        <span class="button-txt">Eğitmen Profili</span>
                                        <span class="button-icon">
                                            <span class="icon-outer">
                                                <svg class="icon">
                                                    <use xlink:href="../../assets/img/icons.svg#icon-arrow"></use>
                                                </svg>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        @if (Model.IsRefundable)
                        {
                            <div class="account-course-detail__refund">
                                <a class="account-course-detail__refund__link js-modal-trigger" href="#0" data-trigger="refundModal">Eğitim İptal Talebi</a>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="js-tooltip tooltip tooltip-top account-comment__bottom-status-tooltip">
    <div class="tooltip__title">
    </div>
</div>


@if (Model.IsRefundable)
{
    <div class="modal" id="refundModal">
        <div class="modal__header">
            <div class="modal__title">Eğitim İptali</div>
            <div class="modal__close js-close-modal">
                <span class="icon-outer">
                    <svg class="icon">
                        <use xlink:href="../../assets/img/icons.svg#icon-close"></use>
                    </svg>
                </span>
            </div>
        </div>
        <div class="modal__content">
            <form action="/iade" method="post" id="refundForm">
                @Html.AntiForgeryToken()
                <input type="hidden" name="InvoiceDetailId" value="@Model.InvoiceDetailId" />
                <div class="input__outer input--textarea">
                    <span class="icon-outer input__icon">
                        <svg class="icon">
                            <use xlink:href="../../assets/img/icons.svg#icon-speak-balloon"></use>
                        </svg>
                    </span>
                    <textarea name="UserDescription" class="input input--fw" placeholder="İptal sebebinizi giriniz..."></textarea>
                </div>
                <button type="submit" class="button button-fw button-icon-right">İptal Et</button>
            </form>
        </div>
    </div>

    @section postScripts{
        <script type="text/javascript">
            $('#refundForm').validate({
                errorLabelContainer: $('#refundForm div.error'),
                errorContainer: 'div.error-messages',
                errorLabelContainer: $('ul', 'div.error-messages'),
                wrapper: 'li',
                rules: {
                    UserDescription: {
                        required: true,
                    }
                },
                messages: {
                    UserDescription: 'Lütfen iade sebebini giriniz.'
                },
                highlight: function (element) {
                    $(element)
                        .parent()
                        .addClass('outer-error');
                },
                unhighlight: function (element) {
                    $(element)
                        .parent()
                        .removeClass('outer-error');
                }
            });
        </script>
    }
}
